h2 {
    font-family:"DM Serif Display",serif;
    padding-top: 75px;
}


.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 8px;
}


a {
    font-family:"DM Serif Display",serif;
}

.mediaView {
    padding: 100px;
    min-height: 40vh;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.verticalImages {
    display: flex;
    padding: 50px;

}




