body {
    padding-top: 20px
}

h2 {
    font-family:"DM Serif Display",serif;
    padding-top: 15px;
}


a {
    font-family:"DM Serif Display",serif;
}

.verticalImages {
    display: flex;
}

.pictures {
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    color: black;
}

.portraits {
    display: block;
    padding-top: 20px;
}

.navbar {
    background: rgba(14, 13, 13, 0.8);
}
