h2 {
    font-family:"DM Serif Display",serif;
}


a {
    font-family:"DM Serif Display",serif;
}

.verticalImages {
    display: flex;
}

.pictures {
    display: flex;
    justify-content: center;
    align-items: center;
}