body {
    background-color: black;
    padding-top: 50px;
}

a {
    font-family: "Didot", sans-serif;

}

h2 {
    font-family:"Didot",sans-serif;
    color: black;
}

h5 {
    font-family:"Didot",sans-serif;
    color: black;
    padding-top: 10px;
}

main {
    alignment: center;
    background-size: cover;
}

.portfolio {
    color: black;
}

.cover {
    padding-top: 10000px;
}

p {
    font-size: larger;
    color: black;
}

.album {
    display: flex;
    flex-wrap: wrap;
    padding:  25px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 25px;
}

.column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}

.txt {
    padding: 8px;
}

.subtitle{
    padding-top: 10px;
}

.intro {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7));

}

.portImg {
    border-radius: 0px;
}

hr {
    color: white;
}

.about-me-title {
    padding-top: 50px;
}



