a {
    font-family:"DM Serif Display",serif;
}

h2 {
    font-family:"DM Serif Display",serif;
}

main {
    alignment: center;
    background-size: cover;
}

.portfolio {
    padding: 300px;
}

.cover {
    padding-top: 10000px;
}

p {
    font-size: larger;
}

.album {
    display: flex;
    flex-wrap: wrap;
    padding: 0  4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}